deepface
dlib
fastapi
fastapi-cli
gradio==5.29.1
js==1.0
matplotlib
mediapipe==0.10.21
numpy
opencv_contrib_python
opencv_python
opencv_python_headless
Pillow
pydantic
pyodide==0.0.2
#pyscript==0.3.3
pyweb==0.2.0
rembg==2.0.65
Requests
scikit_learn==1.6.1
skimage
scikit-image
uvicorn==0.34.2
