deepface==0.0.93
dlib==19.24.99
fastapi==0.115.12
gradio==5.29.1
js==1.0
matplotlib==3.10.3
mediapipe==0.10.21
numpy==2.2.5
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.11.0.86
Pillow==11.2.1
pydantic==2.11.4
pyodide==0.0.2
pyscript==0.3.3
pyweb==0.2.0
rembg==2.0.65
Requests==2.32.3
scikit_learn==1.6.1
skimage==0.0
uvicorn==0.34.2
